{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
    {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
    {{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUShareModule:js/MUShareModule.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUShareModule:js/MUShareModule.Geo.js')) }}
    {% if 'edit' in app.request.get('_route') %}
        {{ polyfill(['geolocation']) }}
    {% endif %}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', __('Share paper'), '', false, false, false, false) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
