{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
    {{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
    {{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUShareModule:js/MUShareModule.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUShareModule:js/MUShareModule.Geo.js')) }}
    {% if 'edit' in app.request.get('_route') %}
        {{ polyfill(['geolocation']) }}
    {% endif %}
{% endblock %}

{% block appTitle %}
    {#{ moduleHeader('user', __('Share paper'), '', false, false, false, false) }#}
    {% set messageAmount = musharemodule_messageAmount() %}
    {% set route = app.request.attributes.get('_route') %}
    {% set kind = app.request.query.get('kind') %}
    <h2>{{ __('Share paper') }}</h2>
    {% if currentUser.loggedIn == true %}
    <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a class="btn btn-default btn-sm {% if route == 'musharemodule_location_view' %}active{% endif %}" href="{{ path('musharemodule_location_view') }}">{{ __('Map') }}</a></li>
    <li role="presentation"><a class="btn btn-default btn-sm {% if route == 'musharemodule_offer_view' %}active{% endif %}" href="{{ path('musharemodule_offer_view', {'own': 1}) }}">{{ __('My offers') }}</a></li>
    <li role="presentation"><a class="btn btn-default btn-sm {% if route == 'musharemodule_message_view' and kind != 'sentbox' %}active{% endif %}" href="{{ path('musharemodule_message_view') }}">{{ __('Inbox') }} <span class="badge">{{ messageAmount.getMessages }}</span></a></li>
    <li role="presentation"><a class="btn btn-default btn-sm {% if route == 'musharemodule_message_view' and kind == 'sentbox' %}active{% endif %}" href="{{ path('musharemodule_message_view', {'kind': 'sentbox'}) }}">{{ __('Sentbox') }} <span class="badge">{{ messageAmount.sentMessages }}</span></a></li>
    </ul>
    {% endif %}
{% endblock %}

{% block titleArea %}
    <h2>{% if currentUser.loggedIn == true %}
        {% block title %}{% endblock %}        
        {% endif %}
        {% if currentUser.loggedIn == false %}
        {% block titleguest %}{% endblock %}
        {% endif %}
        </h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
