{# purpose of this template: offers user list view #}
{% extends 'MUShareModule::base.html.twig' %}
{% block title own ? __('My offers') : __('Offers list') %}
{% block content %}
<div class="musharemodule-offer musharemodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUShareModule/Offer/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('musharemodule_offer_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="offersViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cProduct" />
                {#<col id="cDescription" />
                <col id="cIsOpen" />#}
                <col id="cAbo" />
                <col id="cPeriod" />
                <col id="cTotalYear" />
                <col id="cSplitCosts" />
                <col id="cBack" />
                <col id="cAtMe" />
                <col id="cZipCode" />
                <col id="cMeetingPlace" />
                <col id="cLocationOfOffer" />
                {#<col id="cPool" />#}
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mushare-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hProduct" scope="col" class="text-left">
                    <a href="{{ sort.product.url }}" title="{{ __f('Sort by %s', {'%s': 'product'}) }}" class="{{ sort.product.class }}">{{ __('Product') }}</a>
                </th>
                {#<th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hIsOpen" scope="col" class="text-center">
                    <a href="{{ sort.isOpen.url }}" title="{{ __f('Sort by %s', {'%s': 'is open'}) }}" class="{{ sort.isOpen.class }}">{{ __('Is open') }}</a>
                </th>#}
                <th id="hAbo" scope="col" class="text-center">
                    <a href="{{ sort.abo.url }}" title="{{ __f('Sort by %s', {'%s': 'abo'}) }}" class="{{ sort.abo.class }}">{{ __('Abo') }}</a>
                </th>
                <th id="hPeriod" scope="col" class="text-left">
                    <a href="{{ sort.period.url }}" title="{{ __f('Sort by %s', {'%s': 'period'}) }}" class="{{ sort.period.class }}">{{ __('Period') }}</a>
                </th>
                <th id="hTotalYear" scope="col" class="text-center">
                    <a href="{{ sort.totalYear.url }}" title="{{ __f('Sort by %s', {'%s': 'total year'}) }}" class="{{ sort.totalYear.class }}">{{ __('Total year') }}</a>
                </th>
                <th id="hSplitCosts" scope="col" class="text-center">
                    <a href="{{ sort.splitCosts.url }}" title="{{ __f('Sort by %s', {'%s': 'split costs'}) }}" class="{{ sort.splitCosts.class }}">{{ __('Split costs') }}</a>
                </th>
                <th id="hBack" scope="col" class="text-center">
                    <a href="{{ sort.back.url }}" title="{{ __f('Sort by %s', {'%s': 'back'}) }}" class="{{ sort.back.class }}">{{ __('Back') }}</a>
                </th>
                <th id="hAtMe" scope="col" class="text-center">
                    <a href="{{ sort.atMe.url }}" title="{{ __f('Sort by %s', {'%s': 'at me'}) }}" class="{{ sort.atMe.class }}">{{ __('At me') }}</a>
                </th>
                <th id="hZipCode" scope="col" class="text-left">
                    <a href="{{ sort.zipCode.url }}" title="{{ __f('Sort by %s', {'%s': 'zip code'}) }}" class="{{ sort.zipCode.class }}">{{ __('Zip code') }}</a>
                </th>
                <th id="hMeetingPlace" scope="col" class="text-left">
                    <a href="{{ sort.meetingPlace.url }}" title="{{ __f('Sort by %s', {'%s': 'meeting place'}) }}" class="{{ sort.meetingPlace.class }}">{{ __('Meeting place') }}</a>
                </th>
                <th id="hLocationOfOffer" scope="col" class="text-left">
                    <a href="{{ sort.locationOfOffer.url }}" title="{{ __f('Sort by %s', {'%s': 'location of offer'}) }}" class="{{ sort.locationOfOffer.class }}">{{ __('Location of offer') }}</a>
                </th>
                {#<th id="hPool" scope="col" class="text-left">
                    <a href="{{ sort.pool.url }}" title="{{ __f('Sort by %s', {'%s': 'pool'}) }}" class="{{ sort.pool.class }}">{{ __('Pool') }}</a>
                </th>#}
            </tr>
            </thead>
            <tbody>
        
        {% for offer in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ offer.getKey() }}" class="mushare-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ offer.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUShareModule:ItemActionsMenu:menu', [], {entity: offer, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ offer.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                <td headers="hProduct" class="text-left">
                    {{ offer.product }}
                </td>
                {#<td headers="hDescription" class="text-left">
                    {{ offer.description|striptags|truncate(50) }}
                </td>
                <td headers="hIsOpen" class="text-center">
                    {% if offer.isOpen %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>#}
                <td headers="hAbo" class="text-center">
                    {% if offer.abo %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hPeriod" class="text-left">
                    {{ offer.period|musharemodule_listEntry('offer', 'period') }}
                </td>
                <td headers="hTotalYear" class="text-center">
                    {% if offer.totalYear %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hSplitCosts" class="text-center">
                    {% if offer.splitCosts %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hBack" class="text-center">
                    {% if offer.back %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hAtMe" class="text-center">
                    {% if offer.atMe %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hZipCode" class="text-left">
                    {{ offer.zipCode }}
                </td>
                <td headers="hMeetingPlace" class="text-left">
                    {{ offer.meetingPlace }}
                </td>
                <td headers="hLocationOfOffer" class="text-left">
                    {% if offer.locationOfOffer|default %}
                        <a href="{{ path('musharemodule_location_' ~ routeArea ~ 'display', {'id': offer.locationOfOffer.getId()}) }}">{% spaceless %}
                          {{ offer.locationOfOffer|musharemodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="locationItem{{ offer.getKey() }}_rel_{{ offer.locationOfOffer.getKey() }}Display" href="{{ path('musharemodule_location_' ~ routeArea ~ 'display', {'id': offer.locationOfOffer.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="mushare-inline-window hidden" data-modal-title="{{ offer.locationOfOffer|musharemodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
                {#<td headers="hPool" class="text-left">
                    {% if offer.pool|default %}
                        <a href="{{ path('musharemodule_pool_' ~ routeArea ~ 'display', {'id': offer.pool.getId()}) }}">{% spaceless %}
                          {{ offer.pool|musharemodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="poolItem{{ offer.getKey() }}_rel_{{ offer.pool.getKey() }}Display" href="{{ path('musharemodule_pool_' ~ routeArea ~ 'display', {'id': offer.pool.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="mushare-inline-window hidden" data-modal-title="{{ offer.pool|musharemodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>#}
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}12{% else %}11{% endif %}">
            {{ __('No offers found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'musharemodule_offer_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUShareModuleAction" class="col-sm-3 control-label">{{ __('With selected offers') }}</label>
                <div class="col-sm-6">
                    <select id="mUShareModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {#% if canBeCreated %}
            {% if hasPermission('MUShareModule:Offer:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create offer') %}
                <a href="{{ path('musharemodule_offer_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('musharemodule_offer_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('musharemodule_offer_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %#}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='musharemodule.ui_hooks.offers.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
