{# purpose of this template: pools user display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'MUShareModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ pool|musharemodule_formattedTitle|default(__('Pool')) }}{% endblock %}
{% block title %}
    {% set templateTitle = pool|musharemodule_formattedTitle|default(__('Pool')) %}
    {{ templateTitle|notifyFilters('musharemodule.filter_hooks.pools.filter')|safeHtml }}
    {% set itemActions = knp_menu_get('MUShareModule:ItemActionsMenu:menu', [], {entity: pool, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ pool.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
    </div>
{% endblock %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="musharemodule-pool musharemodule-display">

    <div class="row">
        <div class="col-sm-9">
    <dl>
        {% if pool.collectionOfPool is not empty %}
            <dt>{{ __('Collection of pool') }}</dt>
            <dd>{{ pool.collectionOfPool }}</dd>
        {% endif %}
        
    </dl>

    {{ include('@MUShareModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: pool}) }}

    {{ block('display_hooks') }}
        </div>
        <div class="col-sm-3">
            {{ block('related_items') }}
        </div>
    </div>
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Offers') }}</h4>
    {% else %}
        <h3>{{ __('Offers') }}</h3>
    {% endif %}
    
    {% if pool.offers|default %}
        {{ include(
            '@MUShareModule/Offer/includeDisplayItemListMany.html.twig',
            {items: pool.offers}
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUShareModule:Offer:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create offer') %}
            <a href="{{ path('musharemodule_offer_' ~ routeArea ~ 'edit', {pool: pool.getKey()}) }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='musharemodule.ui_hooks.pools.display_view', id=pool.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
