{# purpose of this template: inclusion template for display of related pool #}
<ul id="{{ idPrefix }}ReferenceList">
{% if item is defined and item.getKey()|default %}
{% set idPrefixItem = idPrefix ~ 'Reference_' ~ item.getKey() %}
<li id="{{ idPrefixItem }}">
    {{ item|musharemodule_formattedTitle }}
     <a id="{{ idPrefixItem }}Remove" href="javascript:mUShareRemoveRelatedItem('{{ idPrefix }}', '{{ item.getKey() }}');"><i class="fa fa-trash-o"></i></a>
</li>
{% endif %}
</ul>
