{# purpose of this template: companies admin list view #}
{% extends 'MUShareModule::adminBase.html.twig' %}
{% block title own ? __('My companies') : __('Companies list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="musharemodule-company musharemodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUShareModule/Company/Admin/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('musharemodule_company_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="companiesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cName" />
                <col id="cDescription" />
                <col id="cMail" />
                <col id="cWebsite" />
                <col id="cPhone" />
                <col id="cMobile" />
                <col id="cIsPublic" />
                <col id="cLocationOfCompany" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mushare-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hMail" scope="col" class="text-center">
                    <a href="{{ sort.mail.url }}" title="{{ __f('Sort by %s', {'%s': 'mail'}) }}" class="{{ sort.mail.class }}">{{ __('Mail') }}</a>
                </th>
                <th id="hWebsite" scope="col" class="text-center">
                    <a href="{{ sort.website.url }}" title="{{ __f('Sort by %s', {'%s': 'website'}) }}" class="{{ sort.website.class }}">{{ __('Website') }}</a>
                </th>
                <th id="hPhone" scope="col" class="text-left">
                    <a href="{{ sort.phone.url }}" title="{{ __f('Sort by %s', {'%s': 'phone'}) }}" class="{{ sort.phone.class }}">{{ __('Phone') }}</a>
                </th>
                <th id="hMobile" scope="col" class="text-left">
                    <a href="{{ sort.mobile.url }}" title="{{ __f('Sort by %s', {'%s': 'mobile'}) }}" class="{{ sort.mobile.class }}">{{ __('Mobile') }}</a>
                </th>
                <th id="hIsPublic" scope="col" class="text-center">
                    <a href="{{ sort.isPublic.url }}" title="{{ __f('Sort by %s', {'%s': 'is public'}) }}" class="{{ sort.isPublic.class }}">{{ __('Is public') }}</a>
                </th>
                <th id="hLocationOfCompany" scope="col" class="text-left">
                    <a href="{{ sort.locationOfCompany.url }}" title="{{ __f('Sort by %s', {'%s': 'location of company'}) }}" class="{{ sort.locationOfCompany.class }}">{{ __('Location of company') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for company in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ company.getKey() }}" class="mushare-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ company.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUShareModule:ItemActionsMenu:menu', [], {entity: company, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ company.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('musharemodule_company_' ~ routeArea ~ 'display', {'id': company.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ company.name|notifyFilters('musharemodule.filterhook.companies')|safeHtml }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ company.description|striptags|truncate(50) }}
                </td>
                <td headers="hMail" class="text-center">
                    {% if company.mail is not empty %}
                    <a href="mailto:{{ company.mail|protectMail }}" title="{{ __('Send an email') }}"><i class="fa fa-envelope"></i></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hWebsite" class="text-center">
                    {% if company.website is not empty %}
                    <a href="{{ company.website }}" title="{{ __('Visit this page') }}"><i class="fa fa-external-link-square"></i></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hPhone" class="text-left">
                    {{ company.phone }}
                </td>
                <td headers="hMobile" class="text-left">
                    {{ company.mobile }}
                </td>
                <td headers="hIsPublic" class="text-center">
                    {% if company.isPublic %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hLocationOfCompany" class="text-left">
                    {% if company.locationOfCompany|default %}
                        <a href="{{ path('musharemodule_location_' ~ routeArea ~ 'display', {'id': company.locationOfCompany.getId()}) }}">{% spaceless %}
                          {{ company.locationOfCompany|musharemodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="locationItem{{ company.getKey() }}_rel_{{ company.locationOfCompany.getKey() }}Display" href="{{ path('musharemodule_location_' ~ routeArea ~ 'display', {'id': company.locationOfCompany.getId(), raw: 1}) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="mushare-inline-window hidden" data-modal-title="{{ company.locationOfCompany|musharemodule_formattedTitle|e('html_attr') }}"><i class="fa fa-id-card-o"></i></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}10{% else %}9{% endif %}">
            {{ __('No companies found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'musharemodule_company_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUShareModuleAction" class="col-sm-3 control-label">{{ __('With selected companies') }}</label>
                <div class="col-sm-6">
                    <select id="mUShareModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUShareModule:Company:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create company') %}
                <a href="{{ path('musharemodule_company_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('musharemodule_company_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('musharemodule_company_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='musharemodule.ui_hooks.companies.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
