{# purpose of this template: companies user display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'MUShareModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ company|musharemodule_formattedTitle|default(__('Company')) }}{% endblock %}
{% block title %}
    {% set templateTitle = company|musharemodule_formattedTitle|default(__('Company')) %}
    {{ templateTitle|notifyFilters('musharemodule.filter_hooks.companies.filter')|safeHtml }}
    {% set itemActions = knp_menu_get('MUShareModule:ItemActionsMenu:menu', [], {entity: company, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ company.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
    </div>
{% endblock %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="musharemodule-company musharemodule-display">

    <div class="row">
        <div class="col-sm-9">
    <dl>
        {% if company.name is not empty %}
            <dt>{{ __('Name') }}</dt>
            <dd>{{ company.name }}</dd>
        {% endif %}
        {% if company.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ company.description|safeHtml }}</dd>
        {% endif %}
        {% if company.mail is not empty %}
            <dt>{{ __('Mail') }}</dt>
            <dd>{% if company.mail is not empty %}
            {% if not isQuickView %}
            <a href="mailto:{{ company.mail|protectMail }}" title="{{ __('Send an email') }}"><i class="fa fa-envelope"></i></a>
            {% else %}
                {{ company.mail|protectMail }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if company.website is not empty %}
            <dt>{{ __('Website') }}</dt>
            <dd>{% if company.website is not empty %}
            {% if not isQuickView %}
            <a href="{{ company.website }}" title="{{ __('Visit this page') }}"><i class="fa fa-external-link-square"></i></a>
            {% else %}
                {{ company.website }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if company.phone is not empty %}
            <dt>{{ __('Phone') }}</dt>
            <dd>{{ company.phone }}</dd>
        {% endif %}
        {% if company.mobile is not empty %}
            <dt>{{ __('Mobile') }}</dt>
            <dd>{{ company.mobile }}</dd>
        {% endif %}
        {% if company.isPublic is not empty %}
            <dt>{{ __('Is public') }}</dt>
            <dd>{% if company.isPublic %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        
    </dl>

    {{ include('@MUShareModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: company}) }}

    {{ block('display_hooks') }}
        </div>
        <div class="col-sm-3">
            {{ block('related_items') }}
        </div>
    </div>
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Location of company') }}</h4>
    {% else %}
        <h3>{{ __('Location of company') }}</h3>
    {% endif %}
    
    {% if company.locationOfCompany|default %}
        {{ include(
            '@MUShareModule/Location/includeDisplayItemListOne.html.twig',
            {item: company.locationOfCompany}
        ) }}
    {% endif %}
    
    {% if company.locationOfCompany is not defined or company.locationOfCompany is null %}
    {% set mayManage = hasPermission('MUShareModule:Location:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create location') %}
            <a href="{{ path('musharemodule_location_' ~ routeArea ~ 'edit', {companyOfLocation: company.getKey()}) }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
        </p>
    {% endif %}
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='musharemodule.ui_hooks.companies.display_view', id=company.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
