{# purpose of this template: messages user list view #}
{% extends 'MUShareModule::base.html.twig' %}
{% block title own ? __('My messages') : __('Messages list') %}
{% block content %}
<h3>{% if kind == 'inbox' %}
    {{ __('Inbox') }}
{% endif %}
{% if kind == 'sentbox' %}
   {{ __('Sentbox') }}
{% endif %}</h3>
<div class="musharemodule-message musharemodule-view">

    {{ block('page_nav_links') }}

    {#{ include('@MUShareModule/Message/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('musharemodule_message_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="messagesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            {% if kind == 'inbox' %}
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cSubject" />
                <col id="cSender" />
                <col id="cCreatedDate" />
                <col id="cLinks" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mushare-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hSubject" scope="col" class="text-left">
                    {{ __('Subject') }}
                </th>
                <th id="hSender" scope="col" class="text-right">
                    {{ __('Sender') }}
                </th>
                <th id="hCreatedDate scope="col" class="text-left z-order-unsorted">
                    {{ __('Sent on') }}
                </th>
                <th id="hLinks" scope="col">
                </th>
            
            </tr>
            </thead>
            <tbody>
        
        {% for message in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ message.getKey() }}" class="mushare-toggle-checkbox" />
                    </td>
                {% endif %}
                <td headers="hSubject" class="text-left">
                    {{ message.subject }}
                </td>
                <td headers="hSender" class="text-left">
                {% set profileLink = message.createdBy.getUid()|profileLinkByUserId() %}
                <dd class="avatar">{{ userAvatar(message.createdBy.getUid(), {rating: 'g'}) }} {{ profileLink|raw }} <a title="{{ __('answer') }}" href="{{ path('musharemodule_message_' ~ routeArea ~ 'edit', { recipientId: message.createdBy.getUid()}) }}"><i class="fa fa-reply" aria-hidden="true"></i></a></dd>
                </td>
                <td headers="hCreatedDate" class="text-left">
                    {{ message.createdDate|localizeddate('medium', 'short') }}
                </td>
                <td headers="hLinks">
                    <a href="{{ path('musharemodule_location_delete', { 'id': message.id}) }}" title="{{ __('Delete') }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
            {{ __('No messages found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
            {% endif %}
            
            {% if kind == 'sentbox' %}
            <colgroup>
                <col id="cItemActions" />
                <col id="cSubject" />
                <col id="cRecipient" />
                <col id="cReadByRecipient" />
                <col id="cLinks" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mushare-mass-toggle" />
                    </th>
                {% endif %}
               <th id="hSubject" scope="col" class="text-left">
                    {{ __('Subject') }}
                </th>
                <th id="hRecipient" scope="col" class="text-right">
                    {{ __('Recipient') }}
                </th>
                <th id="hReadByRecipient" scope="col" class="text-left z-order-unsorted">
                    {{ __('Read by recipient') }}
                </th>
                <th id="hLinks" scope="col">
                </th
            </tr>
            </thead>
            <tbody>
        
        {% for message in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ message.getKey() }}" class="mushare-toggle-checkbox" />
                    </td>
                {% endif %}
                <td headers="hSubject" class="text-left">
                    {{ message.subject }}
                </td>
                <td headers="hRecipient" class="text-left">
                {% set profileLink = message.recipient.getUid()|profileLinkByUserId() %}
                <dd class="avatar">{{ userAvatar(message.recipient.getUid(), {rating: 'g'}) }} {{ profileLink|raw }}</dd>
                </td>
                <td headers="hReadByRecipient" class="text-left">
                {% if message.readByRecipient != NULL %}
                    {{ message.readByRecipient|localizeddate('medium', 'short') }}
                {% else %}
                    {{ __('Not read yet') }}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('musharemodule_location_delete', { 'id': message.id}) }}" title="{{ __('Delete') }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
            {{ __('No messages found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
            {% endif %}
            
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'musharemodule_message_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUShareModuleAction" class="col-sm-3 control-label">{{ __('With selected messages') }}</label>
                <div class="col-sm-6">
                    <select id="mUShareModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}
    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {#% if canBeCreated %}
            {% if hasPermission('MUShareModule:Message:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create message') %}
                <a href="{{ path('musharemodule_message_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('musharemodule_message_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('musharemodule_message_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %#}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='musharemodule.ui_hooks.messages.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}